* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-size: 20px;
  color: white;
  font-family: 'Mukta', sans-serif;
  
}
.App{
  background-image: url('./components/styles.css/media/pikachu-lucha-libre-1920x1080.jpg');
  width: 100%;
  min-height: 100vh;
}


