.NewPokePage{
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    height: 900px;
    width: 100%;
    align-items: center;
}

.nuevoPoke{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    background-color: rgb(15, 131, 166,0.6);
    border-radius: 15px;
    padding: 40px 40px;
    width: 500px;
}
.Titulo_NuevoPoke{
    display: flex;
    justify-content: center;
    font-size: 'Mukta', sans-serif;
    padding-bottom: 20px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.item_form{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

p.requerimiento{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.tipos_form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tipos_form_item{
    border-radius: 8px;
    margin: 8px 12px;
    padding: 4px 12px;
    background-color: rgb(15, 131, 166);
    list-style: none;
}

.label_form {
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.input_form{
    border-radius: 5px;
    margin-right: 10px ;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-shadow: none;
    border-radius: 5px;
    border: 3px solid orange;
}

.buttonX{
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:grey;
    border: 0;
}
