.loading{
    height: 700px;
    display: flex;
    align-items: center;
}

.mensajeErr{
    height: 700px;
    display: flex;
    align-items: center;
    font-size: 50px;
}
.PokeCard {
    display: flex;
    justify-content:center;
    height: 700px;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 100px;
}
img.imgPokeCard{
    padding: 10px 10px 10px 0px;
    width: 200px; 
    height: 200px;
    object-fit: contain;
  }

.PokeCard_Item{
    margin: 20px 50px 0px 10px;
    border-radius: 12px;
    padding: 16px 32px;
    background: rgb(232, 206, 135, 0.8);
    width: 20%;
    height: 600px;
}

.titulo_pokeCard a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    transition: 0.4s;
}

.titulo_pokeCard a:hover{
    font-size: 45px;
}

p{
    margin: 0px;
    font-weight: 600;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.tipos_pokeCard{
    display: flex;
    flex-wrap: wrap;
}

.tipos_pokeCard li{
    border-radius: 8px;
    margin: 8px 12px;
    padding: 4px 12px;
    background-color: rgb(15, 131, 166);
    list-style: none;
}
