div.Details_Component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Titulo_Details{
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 50px;
}
div.Details_Card{
    background-color: rgb(115, 103, 70,0.7);
    border-radius: 15px;
    padding: 20px 20px 0px 20px;
    margin: 30px 0px 15px;
    width: 40%;
    
}

img.img_Details{
    width: 250px; 
    height: 250px;
    object-fit: contain;
}

.tipo_Details_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tipo_Details{
    border-radius: 8px;
    margin: 10px 10px;
    padding: 2px 8px;
    background-color: rgb(15, 131, 166);
}
h4{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}
