.PokeCard {
    display: flex;
    justify-content:center;
    
}
div {
    font-size: 20px;
    background-color: gray;
    border: white;
    flex-direction: row;
}

img{
    width: 300px; 
    height: 300px;
  }